@use '../../variables' as v;

.resume-intro-section {
	a {
		transition: v.$default-transition;
	}
}

.resume {
	margin: 0 calc(1em + 4px) 1em calc(1em - 4px);
	overflow: hidden;

	transition: border 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

	#title-span {
		transition: color 0.4s ease-in-out;
	}

	.resume-section:last-of-type {
		padding-bottom: 2em;
	}

	.resume-socials-1 {
		@media screen and (max-width: 819px) {
			display: none;
		}
	}
	.resume-socials-21,
	.resume-socials-22 {
		@media screen and (max-width: 819px) and (min-width: 472px) {
			display: flex;
		}
		display: none;
	}
	.resume-socials-3 {
		@media screen and (min-width: 472px) {
			display: none;
		}
	}

	.pslim {
		padding-bottom: 0.25em;
	}
	.pslim:last-of-type {
		padding-bottom: 0;
	}
}
