@use '../../variables' as v;

.loading-progress {
	transition: v.$default-transition;
}

.pdf-renderer {
	// Add smooth transitions for fill and stroke color changes
	.pdf-page {
		transition: v.$default-transition;
		svg {
			tspan,
			path {
				transition: v.$default-transition;
			}
		}
	}
}
