@use '../../variables' as v;

.carousel {
	.MuiPaper-root {
		transition: inherit;
	}
	.embla {
		overflow: hidden;

		.embla__viewport {
			.is-draggable {
				cursor: move;
				cursor: grab;
			}

			.is-dragging {
				cursor: grabbing;
			}

			.embla__container {
				display: flex;

				.embla__slide {
					flex: 0 0 100%;
				}
			}
		}

		overflow-y: scroll;
		overflow-x: hidden;
	}

	transition: v.$default-transition;
}
