.anim-library-icon-rect {
	filter: brightness(145%);
	-webkit-filter: brightness(145%);
}

.anim-library-icon-circle-dark {
	filter: brightness(87%);
	-webkit-filter: brightness(87%);
}
.anim-library-icon-circle-light {
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
}

.anim-library-icon-path-dark {
	filter: brightness(70%);
	-webkit-filter: brightness(70%);
}
.anim-library-icon-path-light {
	filter: brightness(90%);
	-webkit-filter: brightness(90%);
}
