$tr-sec: 0.4s;

$scr-sizes-min: (
	'400px': '0px',
	// xxs
	'768px': '400px',
	// xs
	'992px': '768px',
	// sm
	'1200px': '992px',
	// md
	'1424px': '1200px',
	// lg
);

$scr-sizes: (
	'400px': '45px',
	// xxs
	'768px': '50px',
	// xs
	'992px': '60px',
	// sm
	'1200px': '70px',
	// md
	'1424px': '80px',
	// lg
);
