@use './variables' as v;

@media (prefers-color-scheme: light) {
	:root {
		background-color: #fff !important;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		background-color: #121212 !important;
	}
}

:root[data-theme='light'] {
	background-color: #fff !important;
	transition: v.$default-transition;
}
:root[data-theme='dark'] {
	background-color: #121212 !important;
	transition: v.$default-transition;
}

body {
	transition: v.$default-transition;
}

.MuiPaper-root {
	transition: v.$default-transition;
}
