@use 'sass:map';
@use './variables' as v;

@media (prefers-color-scheme: light) {
	:root {
		background-color: #fff !important;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		background-color: #121212 !important;
	}
}

:root[data-theme='light'] {
	background-color: #fff !important;
	transition: all v.$tr-sec ease-in-out;
}
:root[data-theme='dark'] {
	background-color: #121212 !important;
	transition: all v.$tr-sec ease-in-out;
}

body {
	transition: all v.$tr-sec ease-in-out;
}

.MuiPaper-root {
	transition: all v.$tr-sec ease-in-out;
}

.main-page-intro {
	#ai-text-type-delete-text {
		transition: all v.$tr-sec ease-in-out;

		span {
			transition: all v.$tr-sec ease-in-out;
		}
	}

	@each $scr in map.keys(v.$scr-sizes) {
		@media screen and (max-width: $scr) and (min-width: #{map.get(v.$scr-sizes-min, $scr)}) {
			--main-page-intro-font-size: #{map.get(v.$scr-sizes, $scr)};
			--main-page-intro-cursor-height: calc(#{map.get(v.$scr-sizes, $scr)} + 2px);
		}
	}

	@media screen and (min-width: '1424px') {
		--main-page-intro-font-size: 80px;
		--main-page-intro-cursor-height: 82px;
	}

	@media screen and (max-width: '675px') {
		height: 200px;
	}
}
